body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-header {
  text-align: center;
}

body {
  background-color: #c38e70;
}

.coffee-details {
  color: black;
}

h1 {
  color: black;
  font-size: 3.5rem;
  font-family: cursive;
  font-style: italic;
}

h2 {
  color: black;
  font-family: cursive;
  font-style: italic;
}

h3 {
  color: white;
  font-family: cursive;
  font-style: italic;
}

input {
  font-family: cursive;
  font-style: italic;
  color: black;
  font-size: 1.1rem;
}

label {
  font-family: cursive;
  font-style: italic;
  color: black;
  font-size: 1.1rem;
  padding-left: 0.125rem;
}

p {
  font-family: cursive;
  font-style: italic;
  font-size: 1.25rem;
  color: black;
}

#root {
  margin-left: 4rem;
  margin-right: 4rem;
}
